workflows/image-processing.json
{
  "name": "Image Processing Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-image",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "process-image-webhook",
      "name": "Process Image Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "process-image-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "image-url",
              "leftValue": "={{ $json.imageUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validate-image-url",
      "name": "Validate Image URL",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "url": "={{ $json.imageUrl }}",
        "options": {}
      },
      "id": "download-image",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "https://api.replicate.com/v1/predictions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Token {{ $env.REPLICATE_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "version",
              "value": "nightmareai/real-esrgan:42fed1c4974146d4d2414e2be2c5277c7fcf05fcc3a73abf41610695738c1d7b"
            },
            {
              "name": "input",
              "value": "={{ { \"image\": $('Download Image').item.json } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "enhance-image-quality",
      "name": "Enhance Image Quality",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 200],
      "credentials": {
        "replicateApi": {
          "id": "replicate-api-credentials",
          "name": "Replicate API"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "https://api.replicate.com/v1/predictions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Token {{ $env.REPLICATE_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "version",
              "value": "nightmareai/real-esrgan:42fed1c4974146d4d2414e2be2c5277c7fcf05fcc3a73abf41610695738c1d7b"
            },
            {
              "name": "input",
              "value": "={{ { \"image\": $('Download Image').item.json, \"scale\": 0.5 } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "create-thumbnail",
      "name": "Create Thumbnail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300],
      "credentials": {
        "replicateApi": {
          "id": "replicate-api-credentials",
          "name": "Replicate API"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "={{ $env.AWS_S3_UPLOAD_URL }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/jpeg"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $('Enhance Image Quality').item.json.output }}"
            },
            {
              "name": "key",
              "value": "={{ 'enhanced/' + $now + '_' + $('Process Image Webhook').item.json.userId + '.jpg' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "upload-enhanced-image",
      "name": "Upload Enhanced Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 200],
      "credentials": {
        "awsS3Api": {
          "id": "aws-s3-api-credentials",
          "name": "AWS S3 API"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "={{ $env.AWS_S3_UPLOAD_URL }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/jpeg"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $('Create Thumbnail').item.json.output }}"
            },
            {
              "name": "key",
              "value": "={{ 'thumbnails/' + $now + '_' + $('Process Image Webhook').item.json.userId + '.jpg' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "upload-thumbnail",
      "name": "Upload Thumbnail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 300],
      "credentials": {
        "awsS3Api": {
          "id": "aws-s3-api-credentials",
          "name": "AWS S3 API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"enhancedImageUrl\": $('Upload Enhanced Image').item.json.url, \"thumbnailUrl\": $('Upload Thumbnail').item.json.url } }}",
        "options": {}
      },
      "id": "image-success-response",
      "name": "Image Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 250]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"error\", \"message\": \"Invalid image URL\" } }}",
        "options": {}
      },
      "id": "image-error-response",
      "name": "Image Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Process Image Webhook": {
      "main": [
        [
          {
            "node": "Validate Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Image URL": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Enhance Image Quality",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Thumbnail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhance Image Quality": {
      "main": [
        [
          {
            "node": "Upload Enhanced Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Thumbnail": {
      "main": [
        [
          {
            "node": "Upload Thumbnail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Enhanced Image": {
      "main": [
        [
          {
            "node": "Image Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Thumbnail": {
      "main": [
        [
          {
            "node": "Image Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "image-processing",
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "image-processing",
      "name": "image-processing"
    }
  ]
} 